<section class="card">
    <header>Create New Post</header>
    <form class="form create-form">
        <div class="form-group">
            <label for="title-create">Title</label>
            <input type="text" class="form-input" id="title-create" />
        </div>
        <div class="form-group">
            <label for="content-create">Content</label>
            <input type="text" class="form-input" id="content-create" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>

    </form>
</section>

<script src="/js/create.js"></script>