<section class="card m-4">
    <header class="card-header">
        Create New Post
    </header>
    <div class="card-body">
        <form class="create-form">
            <div class="m-3">
                <label for="title-create" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title-create" />
            </div>
            <div class="m-3">
                <label for="content-create" class="form-label">Content:</label>
                <textarea class="form-control" id="content-create"></textarea>
            </div>
            <div class="m-3">
                <button class="btn btn-outline-primary me-3" type="submit">
                    <i class="fas fa-plus"></i>
                    Create
                </button>
                <a class="btn btn-outline-secondary" href="/dashboard">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</section>

<script src="/js/create.js"></script>