<section class="card m-4">
    <header class="card-header">
        Edit Post
    </header>
    <div class="card-body">
        <form class="edit-form">
            <div class="m-3">
                <label for="title-edit" class="form-label">Title:</label>
                <input
                    type="text"
                    class="form-control"
                    id="title-edit"
                    value="{{post.title}}"
                />
            </div>
            <div class="m-3">
                <label for="content-edit" class="form-label">Content:</label>
                <textarea
                    class="form-control"
                    id="content-edit"
                >{{post.content}}</textarea>
            </div>
            <div class="m-3">
                <button class="btn btn-outline-primary me-3" type="submit">
                    <i class="far fa-edit"></i>
                    Update
                </button>
                <button class="btn btn-outline-danger me-3" id="delete-form">
                    <i class="far fa-trash-alt"></i>
                    Delete
                </button>
                <a class="btn btn-outline-secondary" href="/dashboard">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</section>

<script src="/js/edit.js"></script>