<section class="card m-4">
    <h2 class="card-header text-center">
        Login
    </h2>
    <div class="card-body">
        <form class="login-form">
            <div class="m-3">
                <label for="username-login" class="form-label">Username:</label>
                <input class="form-control" type="=text" id="username-login" />
            </div>
            <div class="m-3">
                <label for="password-login" class="form-label">Password:</label>
                <input
                    class="form-control"
                    type="password"
                    id="password-login"
                />
            </div>
            <div class="m-3">
                <button class="btn btn-primary" type="submit">Login</button>
                <a href="/signup" class="ms-3">Sign up instead</a>

            </div>
        </form>

    </div>
</section>

<script src="/js/login.js"></script>