<section class="card">
    <header>{{post.title}}</header>
    <p>{{post.date_created}}</p>
    <p>{{post.content}}</p>
</section>

<section class="card">
    <p>Comment</p>
    <input type="text" name="comment" />
    <button class="btn btn-primary" type="submit">Submit</button>
</section>