<section class="card m-4">
    <header class="card-header">
        <span class="text-muted">By</span>
        <span class="fw-bold">
            {{post.user.username}}
        </span>
    </header>
    <div class="card-body">
        <h3 class="card-title text-center">{{post.title}}</h3>
        <p class="card-text">{{post.content}}</p>
    </div>
    <footer class="card-footer">
        <span class="text-muted">Posted</span>
        <span class="fw-lighter">
            {{format_date post.date_created}}
        </span>
    </footer>
</section>
<form class="comment-form m-4">
    <div class="input-group">
        {{!-- <label class="input-group-text" for="comment">Comment</label> --}}
        <textarea class="form-control" id="comment" placeholder="Comment..."></textarea>
        <button class="btn btn-outline-primary" type="submit"><i class="far fa-paper-plane"></i> Submit</button>
    </div>
</form>

<div class="accordion" id="accordionComments">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                My Comments
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                {{#each userComments as |comment|}}
                {{> user-comment-details }}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                All Comments
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
            <div class="accordion-body">
                {{#each comments as |comment|}}
                {{> comment-details }}
                {{/each}}
            </div>
        </div>
    </div>
</div>


{{!-- <h5 class="text-center m-4">My Comments</h5>
<h5 class="text-center m-4">All Comments</h5> --}}

<script src="/js/comment.js"></script>